@import "primeicons/primeicons.css";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding:0;
  display: flex;
}

.flex { display: flex; }
.row  { flex-direction: row; }
.col { flex-direction: column; }
.flex-1 { flex:1 }

.row-gap-8 { row-gap: 8px; }
.row-gap-16 { row-gap: 16px; }
.row-gap-24 { row-gap: 24px; }
.row-gap-32 { row-gap: 32px; }

.col-gap-8 { column-gap: 8px; }
.col-gap-16 { column-gap: 16px; }
.col-gap-24 { column-gap: 24px; }
.col-gap-32 { column-gap: 32px; }

.align-center { align-items: center; }
.align-start { align-items: center; }
.align-end { align-items: center; }

.justify-start { align-items: center; }
.justify-end { align-items: center; }
.justify-center { align-items: center; }
.justify-between { justify-content: space-between ; }